.idea/
db_backups/
db_postgres/
backend/node_modules/
backend/.env
backend/data/uplift
backend/data/data_preparation/csv/.~lock.media.csv\#
backend/data/data_preparation/csv/.~lock.transitions.csv\#
frontend/aerialib_ui/android/app/.cxx/Debug/*